/*-- scss:defaults --*/

$body-bg: #FFFFFF;
$body-color: #003c3c;
$presentation-heading-color: #003c3c;
$link-color: #00c896 ;
//$code-color: #007d69;
$code-block-bg: #FFFFFF;
$code-block-border-color: #000000;
$footer-fg: #007d69;

/*-- scss:rules --*/

//customise slide theme colours to match the exeter highlight
.reveal .slide-number {
  color: $link-color;
}

//customise side and position of footer text
.reveal .footer {
  font-size: 1.1vw !important;
  color: $footer-fg;
  padding-left: 6vw !important;
  text-align: left !important;
}

//remove slide numbers on title slide
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}
