/*-- scss:defaults --*/

$body-bg: #FFFFFF;
$body-color: #003c3c;
$presentation-heading-color: #003c3c;
$link-color: #00c896 ;
//$code-color: #007d69;
$code-block-bg: #FFFFFF;
$code-block-border-color: #000000;
$footer-fg: #007d69;

$presentation-title-slide-justify-content: left;

/*-- scss:rules --*/

//  background-image: url('~/presentations/intro_to_github/media/exeter_logo.png') !important;

#title-slide {
  text-align: left;
  top: 0;
  bottom: 0;

  .title {
    color: white;
    font-size: 2em;
    position: relative!important;
    top: 10px!important;
  }

  .quarto-title-author {
    color: #00c896;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    position: relative!important;
    top: 40px!important;
  }

    //&::after {
      //content: '';
      //display: block;
      //position: absolute!important;
      //bottom: 0;
      //left: 0;
      //background-image: url('https://raw.githubusercontent.com/exeter-data-analytics/exeter-data-analytics.github.io/master/images/exeter_logo_light.png');
      //background-size: contain;
      //background-position: bottom left;
      //background-repeat: no-repeat;
      //width: 400px; /* Adjust the width as needed */
      //height: 400px; /* Adjust the height as needed */
    //}
  }

// custom format for having pictures over bullets
//.emoji-bullets {
//    line-height: 0.5em !important;
//}

//customise slide theme colours to match the exeter highlight
.reveal .slide-number {
  color: $link-color;
}

//customise side and position of footer text
.reveal .footer {
  font-size: 1.1vw !important;
  color: $footer-fg;
  padding-left: 6vw !important;
  text-align: left !important;
}

// customise size of exeter logo on every slide 
.reveal .slide-logo {
  height: 9% !important;
  //width: 150px!important;
  max-width: unset !important;
  max-height: unset !important;
  z-index: 3; //this makes the logo render in front of slide content!
}

//customising bullets (little arrows)
//.reveal .slide ul li{
//list-style: none; /* Remove default bullets*/
//}
//.reveal .slide ul li::before {
//  /* Redefine vour own */
//  content: "\25B6";
//  color: $body-color;
//  display: inline-block;
//  width: 1em;
//  margin-left: -1em;
//  font-size: 100%;
//}
//.reveal .panel-tabset ul li::before {
//  content: "";/* But hide them in tabsets */
//}

//customising strength of semi fade out
.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

//customise appearance of videos
.video-js .vjs-tech {
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
}

.video-js {
    overflow: hidden;
}

.vjs-control-bar { display:none!important; }
